body { 
  position: relative;
  background-color: #AED4FB;
}

.jumbotron, 
.card-header, .modal-header {
  background-color: #003654;
  color: #F1F1E6;
}
/*.card-footer, .modal-footer*/
.navbar {
  background-color: #003654;
}

.test {
  background-color: #AED4FB;
  background-color: #003654;
  background-color: #F1F1E6;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}

.card {
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  margin-bottom: 20px;
}

.modal-content, .card {
  border-radius: 0px;
  border: 1px solid black;
}

.modal-header, .card-header {
  border-radius: 0px !important;
}

.modal-body img {
  margin-bottom: 10px;
}

#modal-x {
  color: #F1F1E6;
}

.fa {
  padding: 50px;
  font-size: 50px;
  color: #AED4FB;
}

.fa:hover {
  color: gray;
  text-decoration: none;
}

.portfolio-card, .portfolio-card:hover {
  text-decoration: none;
  color: black;
}

#section1 {
  padding-top: 70px;
  padding-bottom: 20px;
}

#section2 {
  margin-bottom:30px;
  padding-top: 80px;
  margin-top: -80px;
}

#section3 {
  margin-bottom: 0px;
}
