body { 
  padding-top: 90px;
  position: relative;
  background-color: #f8f9fa;
}

.img-thumbnail {
  margin-bottom: 20px !important;
}

#section1 {
  padding-top: 130px;
  margin-top: -130px;
}

#section2 {
  margin-bottom:30px;
  padding-top: 140px;
  margin-top: -140px;
}

#section3 {
  padding-top: 35px;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
   margin-bottom: 20px;
}

.fa {
  padding: 50px;
  font-size: 50px;
  color: grey;
}

.modal-content {
  background-color: #f8f9fa;
}